@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: rgb(0, 0, 0);
    overflow-y:hidden;
    overflow-x:hidden;
}

#main{
    animation: deslizar 4s forwards;
}

#head{
    text-align: center;
    display: block;   
    position: relative;
}

#foto{
    width: 8rem;
    margin-top: 2rem;
    border-radius: 50%;
}

#nome{
    text-align: center;
    color: #fff;
    margin-top: 3rem;
}

canvas {
    display: block;
    position: absolute;
}

section#rede-sociais{
    flex-direction: column;
    position: relative;
    text-align: center; 
}

section#rede-sociais img{
    width: 50px;
    margin: 20px;
    border-radius: 50%; 
    box-sizing: border-box;  
}

@keyframes deslizar {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }